div.box, div.cell {
	display: inline-block;

}

div.box {
	border: 1px solid black;
	
}

.cell input {
	width: 30px;
	height: 30px;
	font-size: 20;
	text-align: center;
	font-family: Munro;
	/*opacity: 0.8;*/
	color: white;
	background: transparent;
}

.cell input:hover {
	font-size: 23;
	background-color: #424242;
}

.incorrect  {
	background-color: #DF0101;
}

.value_provided  {
	background:  #DDD;
}

#flash {
	margin: 20px;
	font-size: 16;
	text-align: right;
	height: 200
	}

#sudoku {
	font-size: 0;
	text-align: center;
	width: 1500;	
}

h1 {
	text-align: right;

}

body {
	text-align: right;
	font-family: Munro;
	font-size: 45;
	text-shadow: 5px 5px 10px #280000;
	color: orange;
	background: url("/images/rex.jpg");
}

.btn-6d {
    border: 4px groove #01DF3A;
    background: #00FF00;
    font-family: Munro;
    font-size: 22;
    color: white;
    width: 275;
		height: 40;
}
 
.btn-6d:hover {
    background: transparent;
    color: #64FE2E;
}

@font-face {
  font-family: Munro; /* Edit this line */
  src: url('/fonts/munro.ttf'); /* Edit this line */
}


